<form (ngSubmit)="create()" id="createForm">


  <div class="modal fade" id="productId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Agregar producto</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="form-group">

            <label for="">Nombre</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="itm.name" aria-describedby="helpId">
            <small id="helpId" class="form-text text-muted">Ingrese nombre del producto</small>

            <label for="">Descripcion</label>
            <input type="text" class="form-control" name="descripcion" [(ngModel)]="itm.descripcion"
              aria-describedby="helpId">
            <small id="helpId" class="form-text text-muted">Ingrese descripción</small>


            <label for=""></label>
            <input type="file" accept=".png, .jpg" class="form-control-file" placeholder=""
              aria-describedby="fileHelpId" (change)="handleImage($event)">
            <small id="fileHelpId" class="form-text text-muted">Solo imágenes .jpg o .png </small>
            <input type="hidden" #imageProduct [value]="urlImage | async" name="image">

              <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="container">
  <button type="button" class="btn btn-outline-success float-right" data-toggle="modal" data-target="#productId">Añadir
    producto</button>
</div>





