<html>

<body>
    <div class="container col-md-12">
 <table>
<tr >
<td *ngFor="let item of itm" ><div class="col-sm-3" style = "float: left">
  <div class="card  mb-12" style="width: 10rem;" >
    <img class="card-img-top" src={{item.image}} alt={{item.name}}>
    <div class="card-body">
      <h5 class="card-title">{{item.name}}</h5>
      <p class="card-text">{{item.descripcion}}</p>
      <i class="fa fa-pencil float-right" aria-hidden="true" style="cursor:pointer" data-toggle="modal"
        data-target="#modelId" (click)="edit(item)"></i>
      <i class="fa fa-trash-o text-danger float-right mr-3 " aria-hidden="true" style="cursor:pointer"
        (click)="delete(item.id)"></i>
    </div>
  </div>
</div></td>
</tr>
</table>
</div>

  <form (ngSubmit)="editForm()"  >
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Actualizar producto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label for="">Nombre producto</label>
              <input type="text" class="form-control" name="name" [(ngModel)]='itemEdit.name'>
            </div>
            <div class="form-group">
              <label for="">Descripción producto</label>
              <input type="text" class="form-control" name="decripcion" [(ngModel)]='itemEdit.descripcion'>
            </div>
            <div class="form-group">
                    <label for=""></label>
                    <input type="file" accept=".png, .jpg" class="form-control-file" name="image" aria-describedby="fileHelpId" (change)="updateImage($event)" >
                    <small id="fileHelpId" class="form-text text-muted">Solo imágenes .jpg o .png </small>
                    <input type="hidden" [value]="urlImage | async"  name="image" #imageProducte>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>

</body>

</html>
