<div class="jumbotron jumbotron-fluid" style="color:#55a098">
    <div class="container">
      <h1 class="display-4">LAVENIR</h1>
      <p class="lead">Galeria de productos </p>
    </div>
  </div>

<div class="container col-md-12">
<div><app-read></app-read></div>
</div>

 <div class="container col-md-6" >
  <div><app-create></app-create></div>
</div>  